@model ExpensesMVC.Data.ExpenseVM

<div class="content-container">
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Index2" method="get">
                <fieldset class="d-flex mb-2">
                    <h2 class="text-primary">Month to filter by: </h2>
                    <select id="MonthToDisplay" name="MonthToDisplay" class="form-select mx-5">
                        <option value="1" selected="@(Model.MonthToDisplay == "January")">January</option>
                        <option value="2" selected="@(Model.MonthToDisplay == "February")">February</option>
                        <option value="3" selected="@(Model.MonthToDisplay == "March")">March</option>
                        <option value="4" selected="@(Model.MonthToDisplay == "April")">April</option>
                        <option value="5" selected="@(Model.MonthToDisplay == "May")">May</option>
                        <option value="6" selected="@(Model.MonthToDisplay == "June")">June</option>
                        <option value="7" selected="@(Model.MonthToDisplay == "July")">July</option>
                        <option value="8" selected="@(Model.MonthToDisplay == "August")">August</option>
                        <option value="9" selected="@(Model.MonthToDisplay == "September")">September</option>
                        <option value="10" selected="@(Model.MonthToDisplay == "October")">October</option>
                        <option value="11" selected="@(Model.MonthToDisplay == "November")">November</option>
                        <option value="12" selected="@(Model.MonthToDisplay == "December")">December</option>
                    </select>


                    <input type="submit" value="Apply" class="btn btn-primary" />

                </fieldset>
            </form>
            <table class="table text-dark">
                <thead>
                    <tr>
                        <th>
                            Category
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Expenses)
                    {
                        <tr>
                            <td class="text-secondary">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td class="text-secondary">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="text-secondary">
                                @Html.DisplayFor(modelItem => item.Price) zł
                            </td>
                            <td class="d-flex">
                                <a class="link-light text-decoration-none" asp-action="Edit" asp-route-id="@item.Id">
                                    <button class="btn btn-warning ms-4 mx-3">Edit</button>
                                </a>
                                <form asp-action="Delete">
                                    <div>
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <input type="submit" value="Remove" class="btn btn-danger" />
                                    </div>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-4 d-flex flex-column align-items-center">
            <h2 class="text-secondary mb-3">Expenses in @Model.MonthToDisplay: </h2>
            <h2 class="text-secondary"><span class="text-primary">@Html.DisplayFor(modelItem => Model.TotalPrice)</span> zł </h2>
            <div class="d-flex justify-content-between align-items-center">
                <a class="link-light text-decoration-none" asp-action="Create">
                    <button class="btn btn-primary btn-lg mt-3">
                        Add new expense
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
